<center>
  <div class="container">
    <div class="row">
      <% @events.reverse_each.with_index do |ev| %>
        <div class="col-md-3" style="margin-top: 6%; margin-bottom: 6%" >
          <div class="card-sl">
            <div class="card-heading card-txt">
              <%= ev.title %>
            </div>
            <%= image_tag ev.event_picture, :class=>"pic-opt" %>
            <div class="card-text card-txt">
              par <%= link_to "#{ev.admin.first_name}", user_path(ev.admin.id) %>
            </div>
            <div class="card-text card-txt">
              <%= ev.description %>
            </div>
            <div class="card-text card-txt">
              <h6><%= ev.price %>€</h6>
            </div>
            <%= link_to "Voir l'event", event_path(ev.id), :class=>"btn btn-dark gradient-button" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</center>